$black: #222;
$blueGray: #D3DCE5;
$deepBlue: #97A1AC;
$pink: #F2B1DB;

$oswald: "Oswald", sans-serif;
$sofia: "Sofia Pro", sans-serif;

$margin80: 80px;

body {
  margin: 0;
  font-family: $sofia;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: $black;
}

main {
  margin-top: 20px;
}

header {
  margin: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: $oswald;
  font-style: normal;
  font-size: 70px;
  font-weight: 500;
  &.heroTagline {
    text-transform: uppercase;
    line-height: 1.2em;
  }
}

h2 {
  font-family: $oswald;
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 10px 0;
}

h3 {
  font-family: $sofia;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


nav {
  display: flex;
  font-size: 18px;
  a {
    display: block;
    padding: .75em;
    color: $black;
    text-decoration: none;
    &:hover,
    &:active {
      color: $deepBlue;
    }
  }
}

footer {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  background-color: $blueGray;
  height: 75px;
  p {
    margin: auto;
  }
}

p {
  margin: 0;
  &.heroBody {
    margin: 3em 3em auto .5em;
    font-size: 20px;
  }
}

section {
  margin: 45px;
}

.hero {
  display: flex;
  margin: $margin80 50px;
  justify-content: center;
}

.heroText {
  flex-shrink: 2;
  margin: auto 0 auto 7em;
}

.sectionTitle {
  font-family: $oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

#experience {
  margin: auto;
  width: 65%;
  .job {
    margin-top: 50px;
    p {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

#connect {
  display: flex;
  justify-content: center;
  p {
    font-size: 18px;
  }
  a {
    color: $black;
    &:hover {
      color: $deepBlue;
    }
  }
}

span.textHighlight {
  background-color: $pink;
}

.circle-icon {
  background: $pink;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
  color: $black;
  &:hover {
    background: $blueGray;
  }
}

.iconList {
  margin-top: 30px;
  margin-bottom: 55px;
  justify-content: space-evenly;
}

@media screen
and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .hero {
      flex-wrap: wrap;
      .selfie {
        width: 80%;
        margin-bottom: 20px;
      }
      .heroText {
        margin: 30px auto;
        flex-shrink: 1;
      }
    }
 }

 @media only screen 
 and (min-device-width: 320px) 
 and (max-device-width: 480px)
 and (-webkit-min-device-pixel-ratio: 2) {
    header {
      flex-wrap: wrap;
      justify-content: center;
    }
    .hero {
      flex-wrap: wrap;
      margin-top: 60px;
      margin-bottom: 40px;
      .selfie {
        margin-bottom: 20px;
      }
      h1 {
        font-size: 40px;
      }
      .heroText {
        margin: 30px auto;
        flex-shrink: 1;
      }
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 18px;
    }
    p.heroBody {
      margin: 2em 0 0 0;
      font-size: 18px;
    }
    #experience {
      width: 100%;
      .job p {
        font-size: 14px;
      }
    }
  }
  @media screen 
  and (max-device-width: 500px) {
    .circle-icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      padding: 20px;      
    }
  }
